
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400;500;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.vs-input{
	width:100% !important;
}

/* Bootstrap callouts */

.bd-callout {
padding: 1.25rem;
margin-top: 1.25rem;
margin-bottom: 1.25rem;
border: 1px solid #eee;
border-left-width: .25rem;
border-radius: .25rem
}

.bd-callout h4 {
margin-top: 0;
margin-bottom: .25rem
}

.bd-callout p:last-child {
margin-bottom: 0
}

.bd-callout code {
border-radius: .25rem
}

.bd-callout+.bd-callout {
margin-top: -.25rem
}

.bd-callout-info {
border-left-color: #5bc0de
}

.bd-callout-info h4 {
color: #5bc0de
}

.bd-callout-warning {
border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
color: #f0ad4e
}

.bd-callout-danger {
border-left-color: #d9534f
}

.bd-callout-danger h4 {
color: #d9534f
}

.bd-callout-primary{
border-left-color: #007bff
}

.bd-callout-primaryh4 {
color: #007bff
}

.bd-callout-success{
border-left-color: #28a745
}

.bd-callout-successh4 {
color: #28a745
}

.bd-callout-default{
border-left-color: #6c757d
}

.bd-callout-defaulth4 {
color: #6c757d
}

.card{
	border-radius:1em !important;
	border: 0px solid rgba(0, 0, 0, 0);
}
.modal-content{
	border-radius:1em !important;
	border: 0px solid rgba(0, 0, 0, 0);
}

.items-centered{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-dark {
    color: #ffffff;
    background-color: #183B56;
    border-color: #183B56;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(23, 31, 56, 0.075);
}
.btn-dark:hover {
    color: #ffffff;
    background-color: #102638;
    border-color: #0d202e;
}

.btn-soft {
    color: #183B56;
    background-color: #eff1f5;
    border-color: #eff1f5;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(23, 31, 56, 0.075);
}

.btn-soft:hover {
    color: #183B56;
    background-color: #d7dce6;
    border-color: #d0d6e1;
}


.container {
    width: 50x;
    height: 50px;
}

/* Resize images */
.container img {
    width: 100%;
    height: auto;
}

.add-scroll{
  overflow-y:auto;
  height: 200px;
}